@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
  font-family:"Open Sans Condensed", arial;
}
header {
  display: flex;
  position: static;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

li {
  list-style-type: none;
  margin: 0px 20px;
  transition: all 0s;
  color: black;
  cursor: default;
}

li:hover {
  color: red;
}

#faright {
  margin: 0px 60px 0px 20px;
}

.headerbutton li {
  display: inline-block;  
}

.shopbutton {
  margin: 0px 245px 0px 0px;
}

header img {
  width: auto;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  filter: grayscale(100%);
  transition: all 0.28s ease-in 0s;
}

header img:hover {
    filter: grayscale(0%);
}

.mainone img {
  display: block;
  width: 65%;
  height: auto;
  filter: grayscale(100%);
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s ease 0s;
}

.mainone img:hover {
  transform: scale(1.04);
}

.lastimg img {
  display: block;
  width: 65%;
  height: auto;
  filter: grayscale(100%);
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s ease 0s;
}

.lastimg img:hover {
  transform: scale(1.04);
}

footer {
  display: flex;
  position: static;
  background-color: #dfe3df;
  align-items: center;  
  width: 100%;
}



td {
  width: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
  float: left;
  color: black;
  transition: all 0s ease 0s;
  cursor: default;
  font-size: 15px;
}


td:hover {
  color: red;
}

.thead {
  color: black;
  font-weight: 700;
}

.thead:hover {
  color: black;
}

#lastrow td {
  margin: 20px 50px 40px 50px;
}

table {
    margin-left:auto; 
    margin-right:auto;
}